@import "~antd/dist/antd.css";
@import "./constans/statement";

*{
  padding: 0;
  margin: 0;
}
ul,li{
  list-style: none;
}
.loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.spin{
    width: 40px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    animation:rotate 1s linear infinite;
}
@keyframes rotate{
    0%{-webkit-transform:rotate(0deg);}
    25%{-webkit-transform:rotate(90deg);}
    50%{-webkit-transform:rotate(180deg);}
    75%{-webkit-transform:rotate(270deg);}
    100%{-webkit-transform:rotate(360deg);}
}
.hide{
    visibility: hidden;
}
.show{
    visibility: visible;
}

.gl-color{
    color: $gl-color;
}
.gl-background{
    background: $gl-background;
}
.mg{
    margin: 20px;
}
.pd{
    padding: 20px;
}

.flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    &>ul,&>div{
        display: inline-block;
        vertical-align: top;
    }
    &>div{
        padding: 10px 20px;
    }
}
